## Part 1: Preprocessing

In [104]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [105]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [106]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [107]:
# Create a list of at least 10 column names to use as X data

X_data = attrition_df[['BusinessTravel', 'DistanceFromHome', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobSatisfaction', 'NumCompaniesWorked', 'WorkLifeBalance', 'YearsSinceLastPromotion', 'PerformanceRating', 'JobRole', 'OverTime']]


# Create X_df using your selected columns
X_df = pd.DataFrame(X_data)

# Show the data types for X_df
X_df.dtypes

BusinessTravel             object
DistanceFromHome            int64
EnvironmentSatisfaction     int64
HourlyRate                  int64
JobInvolvement              int64
JobSatisfaction             int64
NumCompaniesWorked          int64
WorkLifeBalance             int64
YearsSinceLastPromotion     int64
PerformanceRating           int64
JobRole                    object
OverTime                   object
dtype: object

In [108]:
# Encoding the non int columns

In [109]:
# Combine the 2 dataframes to start ML process

In [110]:
# Confirm Dtypes

In [111]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

In [112]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
le = LabelEncoder()

stand_labels = X_df[['BusinessTravel', 'JobRole', 'OverTime']]
def le_encoder(labels):
    encoded_labels = []
    for i in labels.columns:
        labels = le.fit_transform(stand_labels[i])
        encoded_labels.append(labels)
    result = pd.DataFrame(encoded_labels).T
    return result

In [113]:
x_encoded = le_encoder(stand_labels)
x_encoded = x_encoded.rename(columns={0: 'BusinessTravel', 1: 'JobRole', 2: 'OverTime'})
x_encoded

      BusinessTravel  JobRole  OverTime
0                  2        7         1
1                  1        6         0
2                  2        2         1
3                  1        6         1
4                  2        2         0
...              ...      ...       ...
1465               1        2         0
1466               2        0         0
1467               2        4         1
1468               1        7         0
1469               2        2         0

[1470 rows x 3 columns]

In [114]:
X_df = X_df.drop(columns={'BusinessTravel', 'JobRole', 'OverTime'})
X_df = pd.concat([X_df, x_encoded], axis=1)
X_df

,DistanceFromHome,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobSatisfaction,NumCompaniesWorked,WorkLifeBalance,YearsSinceLastPromotion,PerformanceRating,BusinessTravel,JobRole,OverTime
0,1,2,94,3,4,8,1,0,3,2,7,1
1,8,3,61,2,2,1,3,1,4,1,6,0
2,2,4,92,2,3,6,3,0,3,2,2,1
3,3,4,56,3,3,1,3,3,3,1,6,1
4,2,1,40,3,2,9,3,2,3,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1465,23,3,41,4,4,4,3,0,3,1,2,0
1466,6,4,42,2,1,4,3,1,3,2,0,0
1467,4,2,87,4,2,1,3,0,4,2,4,1
1468,2,4,63,2,2,2,2,0,3,1,7,0
1469,8,2,82,4,3,2,4,1,3,2,2,0

In [115]:
X_df.dtypes

DistanceFromHome           int64
EnvironmentSatisfaction    int64
HourlyRate                 int64
JobInvolvement             int64
JobSatisfaction            int64
NumCompaniesWorked         int64
WorkLifeBalance            int64
YearsSinceLastPromotion    int64
PerformanceRating          int64
BusinessTravel             int32
JobRole                    int32
OverTime                   int32
dtype: object

In [116]:
oh = OneHotEncoder(sparse=False)  # Use sparse=False to return a dense array

def oh_encoder(labels):
    encoded_labels = []
    encoded_columns = []
    
    for col in labels.columns:
        # Reshape each column to 2D and encode
        label_reshaped = labels[col].values.reshape(-1, 1)
        encoded = oh.fit_transform(label_reshaped)
        encoded_labels.append(encoded)
        # Add feature names to track which columns were encoded
        encoded_columns.extend([f"{col}_{category}" for category in oh.categories_[0]])
    
    # Combine all encoded columns horizontally
    result = pd.DataFrame(np.hstack(encoded_labels), columns=encoded_columns)
    return result

In [117]:
y_encoded = oh_encoder(y_df)
y_encoded = y_encoded.astype(int)
y_encoded

c:\Users\jpdav\anaconda3\envs\tf_gpu_env\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
c:\Users\jpdav\anaconda3\envs\tf_gpu_env\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Attrition_No,Attrition_Yes,Department_Human Resources,Department_Research & Development,Department_Sales
0,0,1,0,0,1
1,1,0,0,1,0
2,0,1,0,1,0
3,1,0,0,1,0
4,1,0,0,1,0
...,...,...,...,...,...
1465,1,0,0,1,0
1466,1,0,0,1,0
1467,1,0,0,1,0
1468,1,0,0,0,1
1469,1,0,0,1,0

In [118]:
X = X_df
y = y_encoded
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=7)

In [119]:
y_train_department = y_train[['Department_Human Resources', 'Department_Research & Development', 'Department_Sales']].to_numpy()
y_train_department

array([[0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       ...,
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0]])

In [120]:
y_test_department = y_test[['Department_Human Resources', 'Department_Research & Development', 'Department_Sales']].to_numpy()
y_test_department

array([[0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       ...,
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 0]])

In [121]:
y_train_attrition = y_train[['Attrition_Yes', 'Attrition_No']].to_numpy()
y_train_attrition

array([[0, 1],
       [0, 1],
       [0, 1],
       ...,
       [0, 1],
       [0, 1],
       [0, 1]])

In [122]:
y_test_attrition = y_test[['Attrition_Yes', 'Attrition_No']].to_numpy()
y_test_attrition

array([[0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1]])

In [123]:
# Create a StandardScaler
ss = StandardScaler()

# Fit the StandardScaler to the training data
xscaler = ss.fit(X_train)

# Scale the training and testing data
X_trainscaled = xscaler.transform(X_train)
X_testscaled = xscaler.transform(X_test)

In [124]:
# Create a OneHotEncoder for the Department column


# Fit the encoder to the training data


# Create two new variables by applying the encoder
# to the training and testing data

In [125]:
# Create a OneHotEncoder for the Attrition column


# Fit the encoder to the training data


# Create two new variables by applying the encoder
# to the training and testing data

y

,Attrition_No,Attrition_Yes,Department_Human Resources,Department_Research & Development,Department_Sales
0,0,1,0,0,1
1,1,0,0,1,0
2,0,1,0,1,0
3,1,0,0,1,0
4,1,0,0,1,0
...,...,...,...,...,...
1465,1,0,0,1,0
1466,1,0,0,1,0
1467,1,0,0,1,0
1468,1,0,0,0,1
1469,1,0,0,1,0

## Create, Compile, and Train the Model

In [126]:
# Find the number of columns in the X training data
number_features = X_train.shape[1]

# Create the input layer
input = layers.Input(shape=(number_features,), name="input")

# Create at least two shared layers
sharedlayer1 = layers.Dense(64, activation="relu", name="sharedlayer1")(input)
sharedlayer2 = layers.Dense(128, activation="relu", name="sharedlayer2")(sharedlayer1)

In [127]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
department_layer = layers.Dense(32, activation="relu", name='department_layer')(sharedlayer2)

# Create the output layer
department_output = layers.Dense(y_train_department.shape[1], activation='sigmoid', name='department_output')(department_layer)

In [128]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attrition_layer = layers.Dense(32, activation="relu", name='attrition_layer')(sharedlayer2)

# Create the output layer
attrition_output = layers.Dense(y_train_attrition.shape[1], activation='sigmoid', name='attrition_output')(attrition_layer)

In [129]:
# Create the model
model = Model(inputs=input, outputs={"department_output": department_output, "attrition_output": attrition_output})

# Compile the model
model.compile(optimizer='adam',
              loss={
                  'department_output': 'categorical_crossentropy',
                  'attrition_output': 'binary_crossentropy'
              },
              metrics={
                  'department_output': 'accuracy',
                  'attrition_output': 'accuracy'
              })

# Summarize the model
model.summary()

Model: "model_3"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input (InputLayer)             [(None, 12)]         0           []

 sharedlayer1 (Dense)           (None, 64)           832         ['input[0][0]']

 sharedlayer2 (Dense)           (None, 128)          8320        ['sharedlayer1[0][0]']

 attrition_layer (Dense)        (None, 32)           4128        ['sharedlayer2[0][0]']

 department_layer (Dense)       (None, 32)           4128        ['sharedlayer2[0][0]']

 attrition_output (Dense)       (None, 2)            66          ['attrition_layer[0][0]']

 department_output (Dense)      (None, 3)            99          ['department_layer[0][0]']

==================================================================================================
Total params: 17,573
Trainable params: 17,573
Non-trainable params: 0
__________________________________________________________________________________________________

In [130]:
# Train the model
model_fitted = model.fit(X_trainscaled, {"department_output": y_train_department, "attrition_output": y_train_attrition}, epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 778us/step - loss: 1.4250 - attrition_output_loss: 0.5768 - department_output_loss: 0.8482 - attrition_output_accuracy: 0.7659 - department_output_accuracy: 0.6298
Epoch 2/100
35/35 [==============================] - 0s 619us/step - loss: 1.0386 - attrition_output_loss: 0.4472 - department_output_loss: 0.5914 - attrition_output_accuracy: 0.8358 - department_output_accuracy: 0.7913
Epoch 3/100
35/35 [==============================] - 0s 636us/step - loss: 0.9214 - attrition_output_loss: 0.4186 - department_output_loss: 0.5029 - attrition_output_accuracy: 0.8358 - department_output_accuracy: 0.8439
Epoch 4/100
35/35 [==============================] - 0s 631us/step - loss: 0.8541 - attrition_output_loss: 0.4030 - department_output_loss: 0.4510 - attrition_output_accuracy: 0.8358 - department_output_accuracy: 0.8721
Epoch 5/100
35/35 [==============================] - 0s 688us/step - loss: 0.8052 - attrition_output_loss: 0.3900 - department_output_loss: 0.4152 - attrition_output_accuracy: 0.8385 - department_output_accuracy: 0.8775
Epoch 6/100
35/35 [==============================] - 0s 616us/step - loss: 0.7657 - attrition_output_loss: 0.3807 - department_output_loss: 0.3850 - attrition_output_accuracy: 0.8421 - department_output_accuracy: 0.8857
Epoch 7/100
35/35 [==============================] - 0s 660us/step - loss: 0.7260 - attrition_output_loss: 0.3723 - department_output_loss: 0.3537 - attrition_output_accuracy: 0.8485 - department_output_accuracy: 0.9002
Epoch 8/100
35/35 [==============================] - 0s 663us/step - loss: 0.7045 - attrition_output_loss: 0.3683 - department_output_loss: 0.3361 - attrition_output_accuracy: 0.8521 - department_output_accuracy: 0.8956
Epoch 9/100
35/35 [==============================] - 0s 648us/step - loss: 0.6735 - attrition_output_loss: 0.3613 - department_output_loss: 0.3122 - attrition_output_accuracy: 0.8503 - department_output_accuracy: 0.9074
Epoch 10/100
35/35 [==============================] - 0s 678us/step - loss: 0.6417 - attrition_output_loss: 0.3523 - department_output_loss: 0.2895 - attrition_output_accuracy: 0.8557 - department_output_accuracy: 0.9138
Epoch 11/100
35/35 [==============================] - 0s 621us/step - loss: 0.6214 - attrition_output_loss: 0.3492 - department_output_loss: 0.2722 - attrition_output_accuracy: 0.8539 - department_output_accuracy: 0.9165
Epoch 12/100
35/35 [==============================] - 0s 708us/step - loss: 0.6079 - attrition_output_loss: 0.3478 - department_output_loss: 0.2601 - attrition_output_accuracy: 0.8494 - department_output_accuracy: 0.9201
Epoch 13/100
35/35 [==============================] - 0s 659us/step - loss: 0.5836 - attrition_output_loss: 0.3360 - department_output_loss: 0.2476 - attrition_output_accuracy: 0.8621 - department_output_accuracy: 0.9229
Epoch 14/100
35/35 [==============================] - 0s 701us/step - loss: 0.5639 - attrition_output_loss: 0.3304 - department_output_loss: 0.2334 - attrition_output_accuracy: 0.8630 - department_output_accuracy: 0.9283
Epoch 15/100
35/35 [==============================] - 0s 619us/step - loss: 0.5510 - attrition_output_loss: 0.3246 - department_output_loss: 0.2264 - attrition_output_accuracy: 0.8657 - department_output_accuracy: 0.9256
Epoch 16/100
35/35 [==============================] - 0s 645us/step - loss: 0.5380 - attrition_output_loss: 0.3250 - department_output_loss: 0.2129 - attrition_output_accuracy: 0.8648 - department_output_accuracy: 0.9265
Epoch 17/100
35/35 [==============================] - 0s 648us/step - loss: 0.5179 - attrition_output_loss: 0.3122 - department_output_loss: 0.2056 - attrition_output_accuracy: 0.8775 - department_output_accuracy: 0.9265
Epoch 18/100
35/35 [==============================] - 0s 628us/step - loss: 0.5184 - attrition_output_loss: 0.3207 - department_output_loss: 0.1977 - attrition_output_accuracy: 0.8675 - department_output_accuracy: 0.9283
Epoch 19/100
35/35 [==============================] - 0s 651us/step - loss: 0.4930 - attrition_output_loss: 0.3052 - department_output_loss: 0.1878 - attrition_output_accuracy: 0.8748 - department_output_accuracy: 0.9310
Epoch 20/100
35/35 [==============================] - 0s 637us/step - loss: 0.4758 - attrition_output_loss: 0.2931 - department_output_loss: 0.1826 - attrition_output_accuracy: 0.8875 - department_output_accuracy: 0.9338
Epoch 21/100
35/35 [==============================] - 0s 658us/step - loss: 0.4566 - attrition_output_loss: 0.2888 - department_output_loss: 0.1678 - attrition_output_accuracy: 0.8838 - department_output_accuracy: 0.9365
Epoch 22/100
35/35 [==============================] - 0s 601us/step - loss: 0.4468 - attrition_output_loss: 0.2814 - department_output_loss: 0.1654 - attrition_output_accuracy: 0.8848 - department_output_accuracy: 0.9356
Epoch 23/100
35/35 [==============================] - 0s 692us/step - loss: 0.4293 - attrition_output_loss: 0.2750 - department_output_loss: 0.1543 - attrition_output_accuracy: 0.8875 - department_output_accuracy: 0.9356
Epoch 24/100
35/35 [==============================] - 0s 723us/step - loss: 0.4149 - attrition_output_loss: 0.2689 - department_output_loss: 0.1461 - attrition_output_accuracy: 0.8902 - department_output_accuracy: 0.9483
Epoch 25/100
35/35 [==============================] - 0s 683us/step - loss: 0.3992 - attrition_output_loss: 0.2602 - department_output_loss: 0.1391 - attrition_output_accuracy: 0.8966 - department_output_accuracy: 0.9410
Epoch 26/100
35/35 [==============================] - 0s 698us/step - loss: 0.3908 - attrition_output_loss: 0.2585 - department_output_loss: 0.1323 - attrition_output_accuracy: 0.8975 - department_output_accuracy: 0.9410
Epoch 27/100
35/35 [==============================] - 0s 650us/step - loss: 0.3876 - attrition_output_loss: 0.2586 - department_output_loss: 0.1290 - attrition_output_accuracy: 0.8956 - department_output_accuracy: 0.9492
Epoch 28/100
35/35 [==============================] - 0s 706us/step - loss: 0.3669 - attrition_output_loss: 0.2453 - department_output_loss: 0.1217 - attrition_output_accuracy: 0.8993 - department_output_accuracy: 0.9555
Epoch 29/100
35/35 [==============================] - 0s 646us/step - loss: 0.3490 - attrition_output_loss: 0.2359 - department_output_loss: 0.1130 - attrition_output_accuracy: 0.9065 - department_output_accuracy: 0.9564
Epoch 30/100
35/35 [==============================] - 0s 696us/step - loss: 0.3333 - attrition_output_loss: 0.2265 - department_output_loss: 0.1068 - attrition_output_accuracy: 0.9147 - department_output_accuracy: 0.9601
Epoch 31/100
35/35 [==============================] - 0s 642us/step - loss: 0.3186 - attrition_output_loss: 0.2190 - department_output_loss: 0.0996 - attrition_output_accuracy: 0.9083 - department_output_accuracy: 0.9628
Epoch 32/100
35/35 [==============================] - 0s 615us/step - loss: 0.2978 - attrition_output_loss: 0.2060 - department_output_loss: 0.0918 - attrition_output_accuracy: 0.9201 - department_output_accuracy: 0.9637
Epoch 33/100
35/35 [==============================] - 0s 643us/step - loss: 0.2993 - attrition_output_loss: 0.2047 - department_output_loss: 0.0946 - attrition_output_accuracy: 0.9256 - department_output_accuracy: 0.9682
Epoch 34/100
35/35 [==============================] - 0s 619us/step - loss: 0.2834 - attrition_output_loss: 0.1992 - department_output_loss: 0.0841 - attrition_output_accuracy: 0.9201 - department_output_accuracy: 0.9719
Epoch 35/100
35/35 [==============================] - 0s 613us/step - loss: 0.2695 - attrition_output_loss: 0.1889 - department_output_loss: 0.0805 - attrition_output_accuracy: 0.9265 - department_output_accuracy: 0.9673
Epoch 36/100
35/35 [==============================] - 0s 679us/step - loss: 0.2553 - attrition_output_loss: 0.1805 - department_output_loss: 0.0748 - attrition_output_accuracy: 0.9374 - department_output_accuracy: 0.9791
Epoch 37/100
35/35 [==============================] - 0s 631us/step - loss: 0.2420 - attrition_output_loss: 0.1743 - department_output_loss: 0.0677 - attrition_output_accuracy: 0.9301 - department_output_accuracy: 0.9791
Epoch 38/100
35/35 [==============================] - 0s 627us/step - loss: 0.2400 - attrition_output_loss: 0.1763 - department_output_loss: 0.0637 - attrition_output_accuracy: 0.9283 - department_output_accuracy: 0.9800
Epoch 39/100
35/35 [==============================] - 0s 931us/step - loss: 0.2159 - attrition_output_loss: 0.1514 - department_output_loss: 0.0645 - attrition_output_accuracy: 0.9510 - department_output_accuracy: 0.9846
Epoch 40/100
35/35 [==============================] - 0s 700us/step - loss: 0.2019 - attrition_output_loss: 0.1443 - department_output_loss: 0.0576 - attrition_output_accuracy: 0.9428 - department_output_accuracy: 0.9864
Epoch 41/100
35/35 [==============================] - 0s 655us/step - loss: 0.1981 - attrition_output_loss: 0.1443 - department_output_loss: 0.0537 - attrition_output_accuracy: 0.9428 - department_output_accuracy: 0.9900
Epoch 42/100
35/35 [==============================] - 0s 674us/step - loss: 0.1874 - attrition_output_loss: 0.1347 - department_output_loss: 0.0526 - attrition_output_accuracy: 0.9528 - department_output_accuracy: 0.9855
Epoch 43/100
35/35 [==============================] - 0s 599us/step - loss: 0.1716 - attrition_output_loss: 0.1220 - department_output_loss: 0.0496 - attrition_output_accuracy: 0.9564 - department_output_accuracy: 0.9873
Epoch 44/100
35/35 [==============================] - 0s 717us/step - loss: 0.1704 - attrition_output_loss: 0.1260 - department_output_loss: 0.0444 - attrition_output_accuracy: 0.9510 - department_output_accuracy: 0.9918
Epoch 45/100
35/35 [==============================] - 0s 631us/step - loss: 0.1660 - attrition_output_loss: 0.1253 - department_output_loss: 0.0407 - attrition_output_accuracy: 0.9510 - department_output_accuracy: 0.9927
Epoch 46/100
35/35 [==============================] - 0s 648us/step - loss: 0.1529 - attrition_output_loss: 0.1120 - department_output_loss: 0.0410 - attrition_output_accuracy: 0.9619 - department_output_accuracy: 0.9900
Epoch 47/100
35/35 [==============================] - 0s 681us/step - loss: 0.1279 - attrition_output_loss: 0.0918 - department_output_loss: 0.0362 - attrition_output_accuracy: 0.9710 - department_output_accuracy: 0.9946
Epoch 48/100
35/35 [==============================] - 0s 626us/step - loss: 0.1225 - attrition_output_loss: 0.0877 - department_output_loss: 0.0349 - attrition_output_accuracy: 0.9791 - department_output_accuracy: 0.9946
Epoch 49/100
35/35 [==============================] - 0s 645us/step - loss: 0.1184 - attrition_output_loss: 0.0854 - department_output_loss: 0.0331 - attrition_output_accuracy: 0.9764 - department_output_accuracy: 0.9936
Epoch 50/100
35/35 [==============================] - 0s 618us/step - loss: 0.1041 - attrition_output_loss: 0.0737 - department_output_loss: 0.0304 - attrition_output_accuracy: 0.9809 - department_output_accuracy: 0.9964
Epoch 51/100
35/35 [==============================] - 0s 650us/step - loss: 0.0965 - attrition_output_loss: 0.0700 - department_output_loss: 0.0265 - attrition_output_accuracy: 0.9782 - department_output_accuracy: 0.9991
Epoch 52/100
35/35 [==============================] - 0s 629us/step - loss: 0.1002 - attrition_output_loss: 0.0705 - department_output_loss: 0.0297 - attrition_output_accuracy: 0.9828 - department_output_accuracy: 0.9955
Epoch 53/100
35/35 [==============================] - 0s 661us/step - loss: 0.0888 - attrition_output_loss: 0.0626 - department_output_loss: 0.0262 - attrition_output_accuracy: 0.9864 - department_output_accuracy: 0.9973
Epoch 54/100
35/35 [==============================] - 0s 658us/step - loss: 0.0839 - attrition_output_loss: 0.0573 - department_output_loss: 0.0266 - attrition_output_accuracy: 0.9900 - department_output_accuracy: 0.9955
Epoch 55/100
35/35 [==============================] - 0s 633us/step - loss: 0.0801 - attrition_output_loss: 0.0572 - department_output_loss: 0.0229 - attrition_output_accuracy: 0.9873 - department_output_accuracy: 0.9982
Epoch 56/100
35/35 [==============================] - 0s 656us/step - loss: 0.0701 - attrition_output_loss: 0.0499 - department_output_loss: 0.0203 - attrition_output_accuracy: 0.9891 - department_output_accuracy: 0.9991
Epoch 57/100
35/35 [==============================] - 0s 664us/step - loss: 0.0687 - attrition_output_loss: 0.0487 - department_output_loss: 0.0201 - attrition_output_accuracy: 0.9882 - department_output_accuracy: 0.9982
Epoch 58/100
35/35 [==============================] - 0s 728us/step - loss: 0.0640 - attrition_output_loss: 0.0428 - department_output_loss: 0.0212 - attrition_output_accuracy: 0.9918 - department_output_accuracy: 0.9964
Epoch 59/100
35/35 [==============================] - 0s 627us/step - loss: 0.0611 - attrition_output_loss: 0.0433 - department_output_loss: 0.0178 - attrition_output_accuracy: 0.9918 - department_output_accuracy: 0.9982
Epoch 60/100
35/35 [==============================] - 0s 741us/step - loss: 0.0494 - attrition_output_loss: 0.0347 - department_output_loss: 0.0147 - attrition_output_accuracy: 0.9936 - department_output_accuracy: 0.9991
Epoch 61/100
35/35 [==============================] - 0s 629us/step - loss: 0.0454 - attrition_output_loss: 0.0311 - department_output_loss: 0.0142 - attrition_output_accuracy: 0.9964 - department_output_accuracy: 1.0000
Epoch 62/100
35/35 [==============================] - 0s 700us/step - loss: 0.0446 - attrition_output_loss: 0.0320 - department_output_loss: 0.0126 - attrition_output_accuracy: 0.9964 - department_output_accuracy: 0.9991
Epoch 63/100
35/35 [==============================] - 0s 680us/step - loss: 0.0501 - attrition_output_loss: 0.0378 - department_output_loss: 0.0124 - attrition_output_accuracy: 0.9918 - department_output_accuracy: 1.0000
Epoch 64/100
35/35 [==============================] - 0s 603us/step - loss: 0.0437 - attrition_output_loss: 0.0312 - department_output_loss: 0.0124 - attrition_output_accuracy: 0.9964 - department_output_accuracy: 0.9991
Epoch 65/100
35/35 [==============================] - 0s 646us/step - loss: 0.0424 - attrition_output_loss: 0.0314 - department_output_loss: 0.0111 - attrition_output_accuracy: 0.9936 - department_output_accuracy: 1.0000
Epoch 66/100
35/35 [==============================] - 0s 619us/step - loss: 0.0433 - attrition_output_loss: 0.0323 - department_output_loss: 0.0111 - attrition_output_accuracy: 0.9909 - department_output_accuracy: 1.0000
Epoch 67/100
35/35 [==============================] - 0s 674us/step - loss: 0.0332 - attrition_output_loss: 0.0233 - department_output_loss: 0.0099 - attrition_output_accuracy: 0.9973 - department_output_accuracy: 0.9991
Epoch 68/100
35/35 [==============================] - 0s 622us/step - loss: 0.0315 - attrition_output_loss: 0.0190 - department_output_loss: 0.0125 - attrition_output_accuracy: 0.9982 - department_output_accuracy: 0.9991
Epoch 69/100
35/35 [==============================] - 0s 673us/step - loss: 0.0288 - attrition_output_loss: 0.0199 - department_output_loss: 0.0089 - attrition_output_accuracy: 0.9982 - department_output_accuracy: 1.0000
Epoch 70/100
35/35 [==============================] - 0s 668us/step - loss: 0.0254 - attrition_output_loss: 0.0174 - department_output_loss: 0.0080 - attrition_output_accuracy: 0.9982 - department_output_accuracy: 1.0000
Epoch 71/100
35/35 [==============================] - 0s 677us/step - loss: 0.0243 - attrition_output_loss: 0.0160 - department_output_loss: 0.0082 - attrition_output_accuracy: 0.9991 - department_output_accuracy: 1.0000
Epoch 72/100
35/35 [==============================] - 0s 614us/step - loss: 0.0229 - attrition_output_loss: 0.0155 - department_output_loss: 0.0074 - attrition_output_accuracy: 0.9982 - department_output_accuracy: 1.0000
Epoch 73/100
35/35 [==============================] - 0s 628us/step - loss: 0.0207 - attrition_output_loss: 0.0142 - department_output_loss: 0.0065 - attrition_output_accuracy: 0.9991 - department_output_accuracy: 1.0000
Epoch 74/100
35/35 [==============================] - 0s 656us/step - loss: 0.0180 - attrition_output_loss: 0.0119 - department_output_loss: 0.0061 - attrition_output_accuracy: 0.9991 - department_output_accuracy: 1.0000
Epoch 75/100
35/35 [==============================] - 0s 766us/step - loss: 0.0185 - attrition_output_loss: 0.0127 - department_output_loss: 0.0058 - attrition_output_accuracy: 0.9991 - department_output_accuracy: 1.0000
Epoch 76/100
35/35 [==============================] - 0s 686us/step - loss: 0.0148 - attrition_output_loss: 0.0095 - department_output_loss: 0.0054 - attrition_output_accuracy: 1.0000 - department_output_accuracy: 1.0000
Epoch 77/100
35/35 [==============================] - 0s 641us/step - loss: 0.0138 - attrition_output_loss: 0.0086 - department_output_loss: 0.0052 - attrition_output_accuracy: 1.0000 - department_output_accuracy: 1.0000
Epoch 78/100
35/35 [==============================] - 0s 682us/step - loss: 0.0128 - attrition_output_loss: 0.0080 - department_output_loss: 0.0048 - attrition_output_accuracy: 1.0000 - department_output_accuracy: 1.0000
Epoch 79/100
35/35 [==============================] - 0s 690us/step - loss: 0.0126 - attrition_output_loss: 0.0077 - department_output_loss: 0.0049 - attrition_output_accuracy: 1.0000 - department_output_accuracy: 1.0000
Epoch 80/100
35/35 [==============================] - 0s 623us/step - loss: 0.0143 - attrition_output_loss: 0.0096 - department_output_loss: 0.0047 - attrition_output_accuracy: 0.9982 - department_output_accuracy: 1.0000
Epoch 81/100
35/35 [==============================] - 0s 630us/step - loss: 0.0138 - attrition_output_loss: 0.0093 - department_output_loss: 0.0045 - attrition_output_accuracy: 0.9991 - department_output_accuracy: 1.0000
Epoch 82/100
35/35 [==============================] - 0s 625us/step - loss: 0.0182 - attrition_output_loss: 0.0141 - department_output_loss: 0.0041 - attrition_output_accuracy: 0.9982 - department_output_accuracy: 1.0000
Epoch 83/100
35/35 [==============================] - 0s 652us/step - loss: 0.0147 - attrition_output_loss: 0.0109 - department_output_loss: 0.0038 - attrition_output_accuracy: 0.9991 - department_output_accuracy: 1.0000
Epoch 84/100
35/35 [==============================] - 0s 630us/step - loss: 0.0285 - attrition_output_loss: 0.0248 - department_output_loss: 0.0037 - attrition_output_accuracy: 0.9955 - department_output_accuracy: 1.0000
Epoch 85/100
35/35 [==============================] - 0s 692us/step - loss: 0.0476 - attrition_output_loss: 0.0435 - department_output_loss: 0.0041 - attrition_output_accuracy: 0.9891 - department_output_accuracy: 1.0000
Epoch 86/100
35/35 [==============================] - 0s 676us/step - loss: 0.0382 - attrition_output_loss: 0.0337 - department_output_loss: 0.0046 - attrition_output_accuracy: 0.9909 - department_output_accuracy: 1.0000
Epoch 87/100
35/35 [==============================] - 0s 656us/step - loss: 0.0472 - attrition_output_loss: 0.0426 - department_output_loss: 0.0047 - attrition_output_accuracy: 0.9864 - department_output_accuracy: 1.0000
Epoch 88/100
35/35 [==============================] - 0s 601us/step - loss: 0.0475 - attrition_output_loss: 0.0425 - department_output_loss: 0.0049 - attrition_output_accuracy: 0.9891 - department_output_accuracy: 1.0000
Epoch 89/100
35/35 [==============================] - 0s 641us/step - loss: 0.0211 - attrition_output_loss: 0.0172 - department_output_loss: 0.0039 - attrition_output_accuracy: 0.9955 - department_output_accuracy: 1.0000
Epoch 90/100
35/35 [==============================] - 0s 678us/step - loss: 0.0288 - attrition_output_loss: 0.0248 - department_output_loss: 0.0040 - attrition_output_accuracy: 0.9918 - department_output_accuracy: 1.0000
Epoch 91/100

In [131]:
# Evaluate the model with the testing data
model_results = model.evaluate(X_testscaled, {"department_output": y_test_department, "attrition_output": y_test_attrition})
print(model_results)

12/12 [==============================] - 0s 645us/step - loss: 1.9716 - attrition_output_loss: 1.3649 - department_output_loss: 0.6066 - attrition_output_accuracy: 0.8152 - department_output_accuracy: 0.9049
[1.9715774059295654, 1.3649314641952515, 0.6066457629203796, 0.8152173757553101, 0.904891312122345]

In [132]:
# Print the accuracy for both department and attrition
print(f"Attrition Accuracy: {model_results[4]} Department Accuracy: {model_results[3]}")

Attrition Accuracy: 0.904891312122345 Department Accuracy: 0.8152173757553101

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.